<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to Rails.application.class.parent_name, root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
